:root {
  --primary-color: #1677ff;
  --secondary-color: #d9d9d9;
}

h1 {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 650;
  color: black;
}

.ant-layout {
  min-height: 100vh;
}

.ant-form {
  max-width: 600px;
  margin: 0 auto;
}

.ant-table {
  overflow-x: auto;
}

.ant-card {
  margin-top: 2%;
  margin-bottom: 5%;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #fff;
}

.ant-btn-delete {
  color: red;
  padding-left: 0px;
  .anticon-delete {
    font-size: 18px;
    margin-right: -5px;
  }
}

.ant-btn-delete:hover {
  opacity: 0.5;
}

.ant-btn-edit {
  color: green;
  padding-left: 0px;
  .anticon-form {
    font-size: 18px;
    margin-right: -3px;
  }
}

.ant-btn-edit:hover {
  opacity: 0.5;
}

.ant-btn-link {
  .anticon-camera {
    font-size: 18px;
    margin-right: -3px;
  }
}

.ant-layout-sider-children {
  .ant-menu {
    max-width: 100% !important;
  }
}
