:root {
  --primary-color: #1677ff;
  --secondary-color: #d9d9d9;
}

h1 {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 650;
  color: black;
}

.ant-layout {
  min-height: 100vh;
}

.ant-form {
  max-width: 600px;
  margin: 0 auto;
}

.ant-card {
  margin-top: 5%;
}
