.d-flex {
  display: flex;
}
.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.ta-center {
  text-align: center;
}
.hide-on-mobile {
  @media (max-width: 600px) {
    display: none;
  }
}
