.d-flex {
  display: flex;
}
.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.ta-center {
  text-align: center;
}
.hide-on-mobile {
  @media (max-width: 600px) {
    display: none;
  }
}

.table-img-container {
  border-radius: 50%;
  overflow: hidden;

  width: 50px;
  height: 50px;
  img {
    object-fit: fill;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }
  @media (max-width: 600px) {
    width: 50px;
    height: 50px;
  }
}
.table-img-container:not(:first-child) {
  margin-left: -30px;
}
