.d-flex {
  display: flex;
}
.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.ta-center {
  text-align: center;
}
.hide-on-mobile {
  @media (max-width: 600px) {
    display: none;
  }
}

.table-img-container {
  border-radius: 15px;
  width: fit-content;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  width: 100px;
  height: 100px;
  @media (max-width: 600px) {
    width: 50px;
    height: 50px;
  }
}
